<div class="rounded-lg shadow-lg h-fit w-[150px] xl:w-[250px] pt-4 group" style="background-image: url({{cards}});">
    <div *ngIf="discount > 0" class="w-[40%] rounded-lg bg-white font-semibold ml-3 py-2 text-center">{{discount}}% off
    </div>

    <p class="text-white font-semibold text-lg relative top-40 left-4">{{content}}</p>
    <button class="
        shadow-sm
        h-6
        w-8
        bg-[#BD945A]
        px-4
        mt-4
        mb-40
        font-
        medium
        rounded-e-full
        text-white
        relative
        top-[7.5rem]
        left-48
        opacity-0
        group-hover:opacity-100
        transition-opacity
        duration-300">
        >
    </button>
</div>